body {
  background-color: rgb(71, 78, 104);
}
h5,
p {
  color: #fff;
}
.headmodels {
  text-align: center;
  margin-top: 45px;
}
.smallclass,
.middleclass,
.crossoverclass {
  text-align: center;
  margin-bottom: 25px;
  color: #fff;
}
.btn {
  background-color: rgb(107, 114, 142);
  border-style: none;
}
.btn:hover {
  background-color: rgb(80, 87, 122);
}
/* Containers */
.cars-container {
  margin-bottom: 25px;
}
.card {
  margin-right: 20px;
  color: #fff;
  background-color: rgb(55, 61, 81);
}
.card-text {
  color: #fff;
}
.card-design {
  display: block;
  margin: 0 auto;
  color: black;
}
.carsImg {
  margin-top: 13px;
  height: 150px;
  border-radius: 5%;
}
.text-center {
  margin-top: 25px;
}
@media only screen and (max-width: 680px) {
  .card {
    margin-bottom: 20px;
    margin-left:15px;
  }
  .headmodels {
    text-align: center;
  }
}
